<!DOCTYPE html>
<html>
<head>
    <title>Cash on Delivery Confirmation</title>
</head>
<body>
    <h1>Cash on Delivery Confirmation</h1>
    <p>Thank you for your order. Your payment will be collected upon delivery.</p>
    
    <a asp-action="ListOrders" 
       class="btn btn-danger">List</a>
</body>
</html>

